.headline{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2874f0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
.ul{
    list-style: none;
}
.ul li{
    display: inline-block;
    margin-right: 20px;
}
.ul li a{
    text-decoration: none;
    color: white;
}
#search{
    width: 50%;
    height: 30px;
}
#logo{
    height: 40px;
}
#login{
    background-color:white;
    color:#2874f0;
    padding: 10px;
    border: none;
    width: 10%;
}
#searchbox{
    padding: 5px;
    background-color: white;
    color: #2874f0;
    border: none;
}
#image1{
    width: 30%;
    height: auto;
    position: fixed;
    float: right;
    margin-left: 70%;
}

.details{
    width: 55%;
    padding-left: 0px;
    text-align: left;
    margin: 0%;
}
h5,#title2{
    margin: 0%;
    padding: 5px 0;
}
#abc,#num{
    color:green;
    margin: 0%;
}
#price,#num{
    display: inline-block;
    margin: 0%;
}
.dis{
    margin:0%;
}
#title1,#title2{
    text-align: left;
    margin: 0%;
}
#title1{
    color:dimgrey;
}
#wed{
    background-color: green;
    color: white;
    border-radius: 10%;
    width: 50px;
    margin: 0%;
}
#wed1{
    margin: 0%;
    color: dimgrey;
}
#wed,#wed1,#star{
    display: inline-block;
}
#chart{
    color: #2874f0;
}
#pip{
    color: #2874f0;
    display: inline-block;
    margin: 0%;
}
#pop{
    color: #2874f0;
    margin: 0%;
}
#info2{
    margin: 0%;
    display: inline-block;
}
#info2a{
    margin: 0%;
}
#word,#location5{
    display: inline;
}
#word{
    color: green;
}
#loc,#loc2{
    display: inline;
}
#loc2{
    color: grey;
}
#location6{
    color:#2874f0 ;
}
#moreloc1,#moreloc2{
    display: inline;
}
#moreloc2{
    color:#2874f0
}
#moreloc4{
    color: #2874f0;
}
#moreloc3{
    color: black;
}
#ratings,#wen,#wen1,#star{
    display: inline-block;
}
#wen{
    background-color: green;
    color: white;
    border-radius: 10%;
    width: 50px;
    margin: 0%;
}
#wen1{
    margin: 0%;
    color: dimgrey;
}
#tar{
    width: 30px;
}
#revimg{
    width: 70px;
}
#para,#tar{
    display: inline;
}
#flip{
    color: gray;
}
#quest{
    background-color:#2874f0;
    color:white;
    padding: 10px;
    border: none;
    width: 30%;
    border-color: #2874f0;
}
#prod{
    background-color:#2874f0;
    color:white;
    padding: 10px;
    border: none;
    width: 20%;
    border-color: #2874f0;
}
#add{
    background-color: orange;
    color: white;
    width: 20%;
    margin:auto;
    padding: 20px;
    border: none;
    position: fixed;
    float: right;
    margin-left: 60%;
}
#buy{
    background-color:orangered;
    color: white;
    width: 20%;
    padding: 20px;
    border: none;
    position: fixed;
    margin-left: 80%;
}

